$mm-actions-panel-border-color: $mm-grey-400 !default;
$mm-actions-panel-background-color: $mm-blue-200 !default;

$mm-actions-panel-title-font-size: $mm-font-size-base !default;
$mm-actions-panel-title-font-weight: $mm-font-weight-semibold !default;
