$mm-dropdown-border-color: $mm-grey-400 !default;
$mm-dropdown-border-radius: $mm-border-radius-default !default;
$mm-dropdown-background-color: $mm-white !default;

$mm-dropdown-min-width: 12em !default;
$mm-dropdown-max-width: 20em !default;
$mm-dropdown-shadow: $mm-shadow-default !default;

$mm-dropdown-menu-padding: 4px !default;

$mm-dropdown-item-padding: 0.4em 1em !default;
$mm-dropdown-item-font-size: $mm-font-size-sm !default;

$mm-dropdown-item-hover-color: $mm-black !default;
$mm-dropdown-item-hover-background-color: $mm-grey-300 !default;

$mm-dropdown-item-active-color: $mm-white !default;
$mm-dropdown-item-active-background-color: $mm-blue-500 !default;
