$mm-errors-color: $mm-white !default;
$mm-errors-padding: 1em 1.5em !default;
$mm-errors-font-size: $mm-font-size-sm !default;
$mm-errors-border-radius: $mm-border-radius-default !default;
$mm-errors-background-color: $mm-red-500 !default;
