$mm-upload-background-color: $mm-grey-300 !default;
$mm-upload-border-radius: $mm-border-radius-default !default;

$mm-upload-progress-bar-color: $mm-grey-300 !default;
$mm-upload-progress-bar-active-color: $mm-grey-400 !default;
