$mm-picker-preview-overlay-color: $mm-black !default;
$mm-picker-preview-overlay-opacity: 0.25 !default;

$mm-picker-preview-border-color: $mm-grey-400 !default;
$mm-picker-preview-border-radius: $mm-border-radius-default !default;
$mm-picker-preview-background-color: $mm-white !default;

$mm-picker-items-border-color: $mm-grey-400 !default;
$mm-picker-items-border-radius: $mm-border-radius-default !default;
$mm-picker-items-background-color: $mm-white !default;

$mm-picker-item-font-size: $mm-font-size-sm !default;
$mm-picker-item-border-color: $mm-grey-400 !default;
$mm-picker-item-border-radius: $mm-border-radius-default !default;
$mm-picker-item-background-color: $mm-grey-300 !default;

$mm-picker-item-hover-border-color: $mm-grey-500 !default;
$mm-picker-item-hover-background-color: $mm-grey-300 !default;
