$mm-input-padding: 0.5em 0.75em !default;
$mm-input-font-size: $mm-font-size-sm !default;
$mm-input-border-radius: $mm-border-radius-default !default;

$mm-input-color: $mm-grey-700 !default;
$mm-input-hover-color: $mm-grey-800 !default;
$mm-input-disabled-color: $mm-grey-400 !default;

$mm-input-placeholder-color: $mm-grey-500 !default;
$mm-input-hover-placeholder-color: $mm-grey-600 !default;
$mm-input-disabled-placeholder-color: $mm-grey-500 !default;

$mm-input-border-color: $mm-grey-400 !default;
$mm-input-hover-border-color: $mm-grey-500 !default;
$mm-input-active-border-color: $mm-grey-400 !default;
$mm-input-disabled-border-color: $mm-grey-400 !default;

$mm-input-background-color: $mm-white !default;
$mm-input-hover-background-color: $mm-white !default;
$mm-input-disabled-background-color: $mm-grey-300 !default;

$mm-label-margin: 0.5em !default;
$mm-label-color: $mm-blue-500 !default;
$mm-label-font-size: $mm-font-size-sm !default;
$mm-label-weight: $mm-font-weight-semibold !default;

$mm-field-margin: 1em !default;
