$mm-notification-color: $mm-white !default;
$mm-notification-font-size: $mm-font-size-sm !default;
$mm-notification-border-radius: $mm-border-radius-default !default;
$mm-notification-background-color: $mm-blue-400 !default;
