$mm-text-size: 16px !default;
$mm-font-family: 'Source Sans Pro', 'Open Sans', 'sans-serif' !default;
$mm-font-weight: $mm-font-weight-normal !default;
$mm-line-height: 1.5 !default;

$mm-text-color: $mm-grey-700 !default;
$mm-link-color: $mm-blue-500 !default;
$mm-link-hover-color: $mm-blue-700 !default;
