.mm-icon {
    width: 1.5em;
    height: 1.5em;
    flex-shrink: 0;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    font-size: $mm-icon-font-size;

    &.md {
        width: 2em;
        height: 2em;
    }
}
