.table {
    white-space: normal;

    thead,
    tbody {
        tr {
            th {
                font-weight: theme('fontWeight.semibold');
            }

            th,
            td {
                padding: 1.25rem;
                vertical-align: top;

                &.sort-handle {
                    cursor: grab;
                    text-align: center;
                }
    
                &.actions {
                    padding-top: 0;
                    padding-bottom: 0;
                    text-align: center;
                    white-space: nowrap;
                    vertical-align: middle;
    
                    a {
                        color: theme('colors.grey.400');
                    }
                }
    
            }
    
            &.draft {
                th,
                td {
                    background-color: theme('colors.grey.300');
                }
                
                &:not(:hover) {
                    th,
                    td {
                        color: theme('colors.grey.600');
                    }
                }
            }
    
            &:hover {
                th,
                td {
                    &.actions {
                        a {
                            color: theme('colors.grey.700');
    
                            &:hover {
                                color: theme('colors.coral.500');
                            }
                        }
                    }
                }
            }
        }
    }
}
