$button-weight: config('fontWeights.bold');

$button-colours: (
    primary: (primary, white, primary-dark, grey-lightest),
    grey: (grey-light, black, grey, black),
    green: (green, white, green-dark, grey-lightest),
    red: (red, white, red-dark, grey-lightest),
) !default;

$button-colours: join($button-colours, (blue: (blue-light, white, blue, grey-lightest)));
