.mm-dropdown {
    position: relative;
    vertical-align: top;
    display: inline-flex;

    &.open {
        .mm-dropdown-menu {
            display: block;
        }
    }

    &:not(.right) {
        .mm-dropdown-menu {
            left: 0;
        }
    }

    &.right {
        .mm-dropdown-menu {
            right: 0;
        }
    }

    &:not(.up) {
        .mm-dropdown-menu {
            top: 100%;
            padding-top: $mm-dropdown-menu-padding;
        }
    }

    &.up {
        .mm-dropdown-menu {
            bottom: 100%;
            padding-bottom: $mm-dropdown-menu-padding;
        }
    }
}

.mm-dropdown-trigger {
    cursor: pointer;
}

.mm-dropdown-menu {
    z-index: 20;
    display: none;
    position: absolute;
    min-width: $mm-dropdown-min-width;
    max-width: $mm-dropdown-max-width;
}

.mm-dropdown-scroll {
    overflow: auto;
    max-height: 12em;
}

.mm-dropdown-content {
    padding: 0.4em 0;
    box-shadow: $mm-dropdown-shadow;
    border-radius: $mm-dropdown-border-radius;
    border: solid 1px $mm-dropdown-border-color;
    background-color: $mm-dropdown-background-color;
}

.mm-dropdown-item {
    display: flex;
    text-align: left;
    white-space: nowrap;
    align-items: center;
    padding: $mm-dropdown-item-padding;
    font-size: $mm-dropdown-item-font-size;

    .mm-icon {
        flex-shrink: 0;

        &:first-child:not(:last-child) {
            margin-right: 0.35em;
        }
        
        &:last-child:not(:first-child) {
            margin-left: 0.35em;
        }
    }

    span:not(.mm-icon) {
        flex-grow: 1;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &:hover {
        color: $mm-dropdown-item-hover-color;
        background-color: $mm-dropdown-item-hover-background-color;
    }

    &.active {
        color: $mm-dropdown-item-active-color;
        background-color: $mm-dropdown-item-active-background-color;
    }
}

.mm-dropdown-divider {
    height: 1px;
    margin: 0.4em 0;
    background-color: $mm-dropdown-border-color;
}
