.mm-errors {
    margin-bottom: 1em;
    color: $mm-errors-color;
    padding: $mm-errors-padding;
    font-size: $mm-errors-font-size;
    border-radius: $mm-errors-border-radius;
    background-color: $mm-errors-background-color;
}
