.mm-picker-preview {
    position: relative;
    vertical-align: top;
    display: inline-flex;
    border-radius: $mm-picker-preview-border-radius;
    border: 1px solid $mm-picker-preview-border-color;

    &:before {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        content: '';
        position: absolute;
        transition: all 125ms ease-in-out;
        background-color: $mm-picker-preview-overlay-color;
    }

    img {
        display: block;
        max-height: 14em;
        border-radius: $mm-picker-preview-border-radius;
    }

    .mm-icon {
        top: 1em;
        right: 1em;
        color: #333;
        position: absolute;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.5);
    }

    &:hover {
        &:before {
            opacity: $mm-picker-preview-overlay-opacity;
        }
    }

    + .mm-button {
        margin-top: 1em;
    }
}

.mm-picker-items {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 0.75em 0.5em;
    border-radius: $mm-picker-items-border-radius;
    border: 1px solid $mm-picker-items-border-color;
    background-color: $mm-picker-items-background-color;

    + .mm-button {
        margin-top: 1em;
    }
}

.mm-picker-item {
    display: flex;
    padding: 0.5em;
    align-items: center;
    margin: 0.3em 0.4em;
    justify-content: space-between;
    border-radius: $mm-picker-item-border-radius;
    border: 1px solid $mm-picker-item-border-color;
    background-color: $mm-picker-item-background-color;

    .mm-icon {
        flex-shrink: 0;
    }

    .mm-picker-item-body {
        flex-grow: 1;
        max-width: 8em;
        overflow: hidden;
        margin-left: 0.4em;
        margin-right: 0.4em;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: $mm-picker-item-font-size;
    }

    &:hover {
        border-color: $mm-picker-item-hover-border-color;
        background-color: $mm-picker-item-hover-background-color;
    }
}
