.mm-uploader-wrap {
    z-index: 10;
    right: 1em;
    bottom: 1em;
    max-width: 20em;
    position: absolute;
    width: calc(100% - 2em);
}

.mm-uploader {
    padding: 1em;
    border-radius: $mm-upload-border-radius;
    background-color: $mm-upload-background-color;
}

.mm-upload-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    font-weight: $mm-font-weight-semibold;
}

.mm-upload-header-content {
    display: flex;
    align-items: center;

    .mm-icon {
        margin-right: 0.25em;
    }
}

.mm-upload-wrap {
    overflow: auto;
    max-height: 10em;
    margin-top: 0.75em;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.6) $mm-upload-background-color;

    &::-webkit-scrollbar {
        width: 11px;
    }

    &::-webkit-scrollbar-track {
        background: $mm-upload-background-color;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0, 0, 0, 0.6);
        border: 3px solid $mm-upload-background-color;
    }
}

.mm-upload-item-wrap {
    position: relative;
}

.mm-upload-item {
    z-index: 2;
    display: flex;
    position: relative;
    align-items: center;
    padding: 0.4em 0 0.4em 0.25em;
    justify-content: space-between;

    .mm-icon {
        flex-shrink: 0;

        &.mm-upload-icon-error {
            color: $mm-red-500;
        }

        &.mm-upload-icon-in-progress {
            color: $mm-blue-500;
        }

        &.mm-upload-icon-success {
            color: $mm-green-500;
        }
    }

    .mm-upload-item-name {
        flex-grow: 1;
        padding: 0 0.5em;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: $mm-font-size-sm;
    }

    + .mm-upload-item {
        border-top: solid 1px $mm-grey-400;
    }
}

.mm-upload-item-progress {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    appearance: none;
    position: absolute;

    &::-webkit-progress-bar {
        background-color: $mm-upload-progress-bar-color;
    }

    &::-webkit-progress-value {
        transition: all 250ms ease-in-out;
        background-color: $mm-upload-progress-bar-active-color;
    }

    &::-moz-progress-bar {
        background-color: $mm-upload-progress-bar-active-color;
    }

    &::-ms-fill {
        border: none;
        background-color: $mm-upload-progress-bar-active-color;
    }
}

.mm-upload-errors {
    padding: 0.5em 1em;
}

.mm-upload-input {
    display: none;
}

@include mm-screen-lg {
    .mm-uploader-wrap {
        right: 2em;
        bottom: 2em;
    }
}
