.g-recaptcha {
    display: flex;

    &.is-centered {
        justify-content: center;
    }

    @include touch {
        &.is-centered-touch {
            justify-content: center;
        }
    }

    @include until(370) {
        transform: scale(0.77);
    }
}

.input {
    height: $input-height;
}

.select {
    height: $input-height;
    
    &:not(.is-multiple) {
        height: $input-height;
    }

    select {
        padding-right: 2.5em;
        height: $input-height;
    }
}
