.svg-holder {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        width: 100%;
        display: block;
        max-width: 100%;
        height: auto !important;
    }
}
