.mm-text-danger {
    color: $mm-text-danger-color;
}

a:hover {
    &.mm-text-danger {
        color: $mm-text-danger-hover-color;
    }
}

.mm-fade-enter-active {
    transition: opacity 300ms;
}

.mm-fade-enter {
    opacity: 0;
}

.mm-fade-leave-active {
    display: none;
}

@keyframes mm-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(359deg); }
}
