// Typography
$family-sans-serif: 'Arial', sans-serif;

// Colours
$red: red;
$blue: blue;

// Overwrites
$size-1: 3rem;     // 
$size-2: 2.4rem;   // 
$size-3: 2rem;     // 
$size-4: 1.6rem;   // 
$size-5: 1.2rem;   // 
$size-6: 1rem;     // 16px - 
$size-7: 0.8rem;   // 
$size-8: 0.7rem;   // 

$sizes: $size-1 $size-2 $size-3 $size-4 $size-5 $size-6 $size-7 $size-8;

$body-size: 16px;

// $gap: 30px;

$primary: $red;
$secondary: $blue;

// $hamburger-color: $secondary;

// $hr-height: 1px;
// $hr-background-color: $grey-light;

// $button-height: 4rem;
// $content-p-line-height: 2;

// $input-height: 4rem;
// $form-field-margin: 1.5rem;
// $input-border-color: $grey-light;
// $input-hover-border-color: darken($grey-light, 5%);
// $input-focus-border-color: $secondary;
// $input-focus-box-shadow-color: rgba($secondary, .25);

// $title-size: $size-2;
// $title-color: $primary;
// $title-weight: $weight-semibold;
// $subtitle-size: $size-5;
// $subtitle-weight: $weight-bold;
